/* Hero.css */

.hero {
  background-image: url("../../../../assets/images/kevin-kelly-PPneSBqfCCU-unsplash.jpg");
  background-size: cover;
  background-position: center 9%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  overflow: hidden;
  position: relative; /* Required for overlay positioning */
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  height: 100%; /* This is key */
}


.hero-content {
  position: relative;
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  gap: 20px; /* Space between elements */
  z-index: 4;
}

.center-image {
  max-width: 500px; /* Adjust as necessary */
  height: auto; /* Maintain aspect ratio */
}

.hero-text {
  font-size: 6rem; /* Adjust font size */

  color: #ffdd57;
}

.hero-content .hero-text {
  line-height: 1; /* Closer lines */
  /* Adjust font size as needed */
}

/* .hero-text .hero-second-text {
  line-height: 0.4;
} */
